target/
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
.mvn/wrapper/MavenWrapperDownloader.java

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/uv/

### Mac OS ###
.DS_Store
